@media screen and (max-width: 767px) {

#day_title, #hour_title, #minute_title, #second_title {
	margin: 5px 5px;
	font-size: 14px;
}

#dayTimer, #hourTimer, #minuteTimer, #secondTimer {
	font-size: 30px;
	display: inline-block;
   	padding: 25px 5px 15px 5px;
}

.time span {
	min-width: 40px;
}

.countdown-text h1 {
	font-size: 30px;
}

.countdown-text p {
	font-size: 14px;
}

}

@media screen and (max-width: 493px) {

.main {
	padding-top: 50px;
}

#dayTimer, #hourTimer, #minuteTimer, #secondTimer {
	font-size: 25px;
	padding: 25px 0px 15px 0px;
}

.time span {
	min-width: 30px;
}

.logo {
	width: 30%;
}

#contactModal .modal-content {
	margin-top: 50px;
}

}

@media screen and (max-width: 402px) {

#day_title, #hour_title, #minute_title, #second_title {
	margin: 2px 5px;
	font-size: 12px;
}

#dayTimer, #hourTimer, #minuteTimer, #secondTimer {
	font-size: 20px;
	padding: 15px 0px 10px 0px;
}

.time span {
	min-width: 25px;
}

}